.Cell {
    height: 100px;
    width: 100px;
    border-radius: 1px;
    background-color: #263238;
    transition: background-color 0.7s ease;
}

.Cell:hover {
    transition: background-color 0.1s ease;
    background-color: #36474f;
}

.Cell-lit {

    background-color: #00bcd4;
}

.Cell-lit:hover {
    transition: background-color 0.1s ease;

    background-color: #00a5bd;
}
